@import url('default.css');

th
{
	background-color:#edf1f3;
	vertical-align:middle;
	border: 1px solid #aaa !important;
}

td
{
	border: 1px solid #aaa !important;
}

.row-odd
{
	background-color:#f9f8f7;
}

dl.class, dl.function, dl.data 
{ 
	border-bottom: 1px solid #999; 
}

