[run]
source = nicos
omit =
	nicos/_vendor/*
	nicos/clients/gui/*
	nicos/commands/taco.py
	nicos/devices/taco/*
	nicos/devices/tango.py
	nicos/devices/tas/plotting.py
	nicos/devices/vendor/*
	nicos/guisupport/*
	nicos/services/monitor/qt.py
	nicos/services/web/*
parallel = true
