[run]
source = nicos
omit =
	nicos/devices/taco/*
	nicos/commands/taco.py
	nicos/devices/tango/*
	nicos/devices/vendor/*
	nicos/services/monitor/qt.py
	nicos/clients/gui/*
	nicos/guisupport/*
	nicos/_vendor
parallel = true
