build/
dist/

*.pyc
*.egg-info
*.log
*.pid
pylint_*.txt
MANIFEST
nicos.conf

data/*.dat
data/filecounter
data/cache/*
data/ccd/*
data/logbook/*
data/cascade/*

doc/build/
doc/source/auto
doc/_sources/
doc/_static/
doc/auto/
doc/objects.inv
doc/searchindex.js

.coverage
cover/

test/root/

\#*
.#*
*.o
*.a
*.moc
*.so
*.so.*
*~
*.sbf
*.exp
sip*.cpp
sip*.h
moc_*.cpp
*_moc.cpp
ui_*.h

custom/mira/src/cascade/cascade
custom/mira/src/cascade/nicosclient/Makefile
custom/mira/src/cascade/nicosclient/pythonbinding/Makefile
custom/mira/src/cascade/nicoswidget/Makefile
custom/mira/src/cascade/nicoswidget/pythonbinding/Makefile

src/livewidget/livewidget
src/livewidget/Makefile
src/livewidget/python/Makefile
src/livewidget/python/lw_*.cpp
src/livewidget/python/lw_*.h
