build/
dist/

*.pyc
*.egg-info
*.log
*.pid

data/*.dat
data/cache/*

doc/build/
doc/source/auto

test/root/

*.o
*.a
*.moc
*.so
*.so.*
*~
*.sbf
*.exp
sip*.cpp
sip*.h
moc_*.cpp
*_moc.cpp
ui_*.h
src/cascade/cascade
src/cascade/nicosclient/Makefile
src/cascade/nicosclient/pythonbinding/Makefile
src/cascade/nicoswidget/Makefile
src/cascade/nicoswidget/pythonbinding/Makefile
nicos.conf
