build/
dist/

*.pyc
*.egg-info
*.log
*.log.gz
*.log.bz2
*.pid
pylint_*.txt
.noseids
MANIFEST
/nicos.conf
nicos/RELEASE-VERSION

log/*/current

data/

doc/build/
doc/source/auto
doc/source/custom/*/setups

.coverage
.noseids
cover/

test/root/

\#*
.#*
*.o
*.a
*.moc
*.so
*.so.*
*.pyd
*~

#Eclipse:
.project
.pydevproject
.cproject
.settings/
TAGS

#SCITE
SciTEDirectory.properties
