include AUTHORS
include LICENSE
include Makefile
include pylintrc
include README
include nicos/RELEASE-VERSION

recursive-include etc *
recursive-include resources *
recursive-include tools *

include log/README
include pid/README
include data/README data/cache/.keep

recursive-include test *.py
recursive-include test/script_templates *.template
prune test/root

include doc/Makefile
recursive-include doc/source *
recursive-include doc/build/html *
