--extra-index-url https://forge.frm2.tum.de/simple
gr>=1.23.2
gr==1.23.3;sys_platform=='darwin'
python-redmine>=2.0.0

# Linux: minimum versions of PyQt5
PyQt5>=5.13.0;sys_platform=='linux'
PyQtWebEngine>=5.13.0;sys_platform=='linux'
QScintilla>=2.11;sys_platform=='linux'

# Windows: needs higher minimum versions
PyQt5>=5.15.6;sys_platform=='win32'
PyQtWebEngine>=5.15.5;sys_platform=='win32'
QScintilla>=2.12;sys_platform=='win32'

# Mac: Qt 6 is available for both arm64 and intel
PyQt6==6.7.1;sys_platform=='darwin'
PyQt6-Qt6==6.7.3;sys_platform=='darwin'
PyQt6-WebEngine==6.7.0;sys_platform=='darwin'
PyQt6-WebEngine-Qt6==6.7.3;sys_platform=='darwin'
PyQt6-QScintilla>=2.13;sys_platform=='darwin'
