--extra-index-url https://forge.frm2.tum.de/simple
nicoslivewidget>=1.2 ; python_version < '3.0'
nicos-pyctl>=1.0
nicos-quickyaml>=1.1.0
mysql-connector-python-rf>=2.2.2
scipy>=0.9.0
numpy>=1.8.0
pyserial>=2.5
pyzmq>=13.1.0
lxml>=2.3.2
astropy>=2.0
rsa>=3.1.2
gr>=1.0.3
ldap3>=2.0.0
psutil>=2.0
python-redmine>=2.0.0
pyepics>=3.2.4
docutils>=0.12
redbaron>=0.6.3
configobj>=5.0.0
h5py>=2.6.0
keyring>=10.2
keyrings.alt>=2.0
PyCrypto>=2.6.1
slackclient>=1.0.9
sshtunnel>=0.1.2
