--extra-index-url https://forge.frm2.tum.de/simple
nicoslivewidget>=1.2 ; python_version < '3.0'
nicos-pyctl>=1.0
nicos-quickyaml>=1.0.2
#since PEP470 externally hosted files are not allowed anymore via pypi
#mysql-connector-python>=1.0.7
http://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.0.4.zip#md5=3df394d89300db95163f17c843ef49df
scipy>=0.9.0
matplotlib>=1.1
numpy>=1.6.1
pyserial>=2.5
pyzmq>=13.1.0
lxml>=2.3.2
pyfits>=2.4.0
rsa>=3.1.2
gr>=0.16.0
ldap3>=0.9
psutil>=2.0
python-redmine>=1.0.2
pyepics>=3.2.4
