--extra-index-url http://trac.frm2.tum.de:9019/simple
--allow-external nicoslivewidget
nicoslivewidget>=1.0
--allow-external mysql-connector-python
mysql-connector-python>=1.1.5
Sphinx>=1.2.1
coverage>=3.7.1
lxml>=3.2.1
matplotlib>=1.1
nose>=1.3.0
numpy>=1.7.1
pyfits>=3.1.2
pyserial>=2.6
pyzmq>=13.1.0
rst2pdf>=0.93.dev
scipy>=0.13.2
rsa>=3.1.2
gr>=0.4.0
