--extra-index-url https://forge.frm2.tum.de/simple
-r requirements-epics.txt
pyserial>=2.5
astropy>=3.0
nicos-quickyaml>=1.1.0
docutils>=0.12
redbaron>=0.6.3
keyring>=10.6
keyrings.alt>=3.0,<4
pycryptodome>=3.4.7
slackclient>=2.3.1
sshtunnel>=0.1.2
requests>=2.0
PyTango>=9.0.0
Pillow>=4.0.0
Markdown>=2.6.9
pamela>=0.3.0
systemd-python>=230;sys_platform!='win32' and sys_platform!='darwin'
secop-core>=0.10.5
requests_oauthlib>=1.2.0
opencv-python-headless>=3.0.0
