--extra-index-url https://forge.frm2.tum.de/simple
-r requirements-epics.txt
pyserial>=2.5
astropy>=3.0
nicos-quickyaml>=1.2.1;sys_platform!='darwin'
docutils>=0.12
redbaron>=0.6.3
keyring>=10.6
keyrings.alt>=4.0
pycryptodomex>=3.4.7
slackclient>=2.3.1
sshtunnel>=0.4.0
requests>=2.26.0
PyTango>=9.0.0;sys_platform!='win32' and sys_platform!='darwin'
Pillow>=4.0.0
Markdown>=2.6.9
pamela>=0.3.0
systemd-python>=230;sys_platform!='win32' and sys_platform!='darwin'
frappy-core>=0.15.0
requests_oauthlib>=1.2.0
opencv-python-headless>=3.0.0
h5py>=2.6
pika>=1.3.1
influxdb-client>=1.34.0
opencv-python-headless>=3.0.0
