Source: nicos-core
Section: misc
Priority: extra
Maintainer: Alexander Lenz <alexander.lenz@frm2.tum.de>
Build-Depends: debhelper (>= 9.0.0),
 git,
 python (>= 2.7),
 python-setuptools
Standards-Version: 3.9.3

Package: nicos-core
Architecture: all
Depends: python (>= 2.7),
 python-setuptools,
 python-dev,
 python-numpy,
 python-zmq (>= 2.0),
 python-psutil (>= 0.4),
 python-rsa,
 nicos-pyctl,
 nicos-quickyaml
Description: NICOS core system

Package: nicos-services
Architecture: all
Depends: nicos-core
Description: NICOS services

Package: nicos-optional
Architecture: all
Depends: nicos-core,
 gnuplot,
 taco-client-io,
 taco-client-motor,
 taco-client-encoder,
 taco-client-temperature,
 taco-client-powersupply,
 taco-client-detector,
 python-pytango,
 python-mysql.connector,
 python-serial,
 python-scipy,
 python-docutils,
 python-lxml,
 python-pyfits,
 python-ldap3
Description: NICOS optional components

Package: nicos-gui
Architecture: all
Depends: nicos-core,
 python-setuptools,
 python-qt4,
 python-qwt5-qt4,
 python-qscintilla2,
 python-scipy,
 python-redmine
Description: NICOS gui tools

Package: nicos
Architecture: all
Depends: nicos-core,
 nicos-services,
 nicos-optional,
 nicos-gui
Description: Meta package for all NICOS components
