#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEBPYTHON_DEFAULT=2.7
DEBPYTHON_SUPPORTED=2.7

export DEBPYTHON_DEFAULT DEBPYTHON_SUPPORTED

override_dh_install:
	mkdir -p etc/init.d
	ln -s /usr/local/nicos/etc/nicos-system etc/init.d/nicos-system
	dh_install --list-missing

override_dh_auto_install:
	dh_auto_install --buildsystem=python_distutils -- --prefix=/usr/local/nicos

override_dh_installinit:
	dh_installinit --onlyscripts

override_dh_usrlocal:

%:
	dh $@ --with python2 --buildsystem=python_distutils
