move(cell, 'charge')
timescan(4, t=15 * 60)
stop(cell)
wait(cell)
move(cell, 'off')
timescan(4, t=15 * 60)
stop(cell)
wait(cell)
move(cell, 'discharge')
timescan(4, t=15 * 60)
stop(cell)
wait(cell)
move(cell, 'off')

